<div class="inputs__wrapper">
    <label for="{{name}}" class="inputs__item__sup-title -hide">{{text}}</label>
    <input id="{{name}}" name ="{{name}} " type="password" class="inputs__item" placeholder="{{text}}">
    <p class="inputs__item__error -hide">Incorrect {{text}}</p>
</div>