<div class="form__container">
    <div class="form__header">
        <h2 class="form__title"> {{ header }}</h2>
    </div>
    <div class="form__content">
        <form id="{{formName}}" name="{{formName}}">
            <div class="form__content__inputs">
                {{#each inputs}}
                    {{{ this }}}
                {{/each}}
            </div>
        </form>
        <div class="form__content__buttons">
            <button form="{{formName}}" class="button button__main form__button">{{buttonsText.mainBtn}}</button>
            <button name="link" class="button button__sub form__button">{{buttonsText.subBtn}}</button>
        </div>
    </div>
</div>
