<div class="profile__information__items">
    <label for="{{name}}" class="profile__information__title">{{text}}</label>
    <input id="{{name}}" type="{{type}}" class="profile__information__value-edit" name="{{name}}" value="{{value}}">
</div>
