<div class="profile">
    <button name="back" class="profile__navigate__buttons">
        <div class="button profile__navigate__button">
            <svg width="28" height="28" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <circle name="back" cx="14" cy="14" r="14" transform="rotate(-180 14 14)"/>
                <rect name="back" x="20" y="14.8" width="11" height="1.6" transform="rotate(-180 20 14.8)" fill="white"/>
                <path name="back" d="M13 19L9 14L13 9" stroke="white" stroke-width="1.6"/>
            </svg>
        </div>
    </button>
    <div class="profile__container">
        <div class="profile__content">
            <div class="profile__header">
                {{#if store.state.user.avatar}}
                    <button type="button" name="changeAvatar" class="profile__header__button" style=" background-image: url('https://ya-praktikum.tech/api/v2/resources{{store.state.user.avatar}}')"></button>
                {{else}}
                    <button type="button" name="changeAvatar" class="profile__header__button"></button>

                {{/if}}
                <h2 class="profile__name">{{displayName}}</h2>
            </div>
            {{{profileForm}}}
            {{{profileInformation}}}
            {{{control}}}
        </div>
    </div>
    <div>{{{modal}}}</div>

</div>

